.song {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(51, 50, 50, 0.2);
  transition: all 0.3s ease-out;
}

.song:hover {
  border: 2px solid cyan;
  transform: scale(1.05);
}

.title-wrapper {
  flex-basis: 40%;
}

.title {
  font-size: 1.5rem;
}

.artist-name {
  font-size: 1.3rem;
  font-weight: 300;
}

.img-holder {
}
.cover-img {
  max-width: 7.5rem;
}

.likes {
  font-size: 1.2rem;
  margin-left: auto;
  flex-basis: 20%;
}

.active-song {
  border: 2px solid greenyellow;
  transform: scale(1.05);
}
