.music-player-list {
  /* grid-column: 2; */
  overflow-y: scroll;
  flex-basis: 35%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background: rgba(5, 48, 204, 0.8);
  padding: 2.5rem;
}
