.notification {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  padding: 0.5rem 10%;

  width: 80%;
  height: 4rem;
  background-color: rgba(98, 0, 255, 0.9);
  border-radius: 2rem;
  box-shadow: 0 1rem 3rem rgba(51, 50, 50, 0.4);

  position: absolute;
  top: 1rem;
}

.notification h2,
.notification p {
  font-size: 1.5rem;
  margin: 0;
}

.error {
  background-color: #690000;
}

.success {
  background-color: #1ad1b9;
}
